.idea/
cmake-build-debug/

helper-routines.o

jobs.o

myint

myint.dSYM/Contents/Info.plist

myspin

myspin.dSYM/Contents/Info.plist

mysplit

mysplit.dSYM/Contents/Info.plist

mystop

mystop.dSYM/Contents/Info.plist

tsh

tsh.o

tshref.out
